extends ../base.pug


block content
  link(rel="stylesheet" href="/css/dashboard.css")
  style.
    //-html, body{
       //-padding:0px;
       //-margin:0px;
       //-//-background:#222;
       //-font-family: 'Ubuntu', sans-serif;
       //-color:#FFF;
       //-overflow:den;
       //-height:100%;
    //-}
    .hide {
      display: none;
    }

    h4{ text-align:center; }
    a{ color:grey; }

    //-.container{
       //-max-th:145px;
       //-min-height:175px;
       //-margin:20px auto;
       //-background:#CCC;
       //-color:#000;
       //-position:relative;
       //-padding:20px;
       //-border-radius:4px;
       //-animation: flyin 3s;
    //-}

    .fancyToggle{
       display:inline-block;
       th:100%;
       vertical-align:top;

       *{ vertical-align:top; user-select:none; }
       label { padding-right:10px; }

    }
    .toggle{
      position:relative;
      display:inline-block;
      th:75px;
      height:40px;

      input{ display:none; }
      input:checked + label:after{
         transform:translateX(40px);
         background:#465;
      }

      label{
         z-index:100;
         position:relative;

         &:before{
            position:absolute;
            content: ' ';
            top:0px;
            left:0px;
            th:75px;
            height:20px;
            border-radius:2px;
            background:#222;
         }

         &:after{
            position:absolute;
            content: ' ';
            background:#777;
            th:25px;
            height:30px;
            z-index:1;
            top:-5px;
            left:5px;
            transition:all 0.5s;
            border-radius:4px;
         }
      }
   }

    .fancyRadio{
       display:inline-block;
       th:100%;
       height: 40px;
       vertical-align:top;
       *{ vertical-align:top; user-select:none; }


       .toggle{
          position:relative;
          display:inline-block;
          background:#222;
          th:75px;
          height:30px;
          border-radius:4px;
          margin-left:10px;
          top:-5px;
          input{ display:none; }
          input:checked + label{
             color: #FFF;
             &:after{
                background: #465;
                transform:scale(1);
             }
          }

          label{
             z-index:100;
             position:relative;
             th:36.5px;
             height:25px;
             display:inline-block;
             float:left;
             font-size:10px;
             line-height:30px;
             color:#BBB;
             text-align:center;
             &:after{
                position:absolute;
                content: ' ';
                top:5px;
                left:0px;
                th:29px;
                height:20px;
                border-radius:4px;
                transform:scale(0);
                transition:all 0.5s;
                z-index:-1;
                box-sizing:border-box;
                margin-left:5px;
             }
          }
       }
    }

    .fancyCheckBox{
       display:inline-block;
       th: 100%;
       vertical-align:top;
       *{ vertical-align:top; user-select:none; }

       input{ display:none; }
       input:checked + label:after{
          transform:translateX(40px);
          background:#465;
          transform:scale(1);
       }

       .checkbox { display:inline-block; margin-left:10px;}
       .checkbox label{

          position:relative;
          display:inline-block;
          background:#222;
          th:30px;
          height:30px;
          border-radius:4px;
          top:-5px;
          z-index:100;
          margin:0px 5px;
          &:after{
             content: ' ';
             position:absolute;
             th:20px;
             height:20px;
             background:#465;
             z-index:1000;
             top:5px;
             left:5px;
             border-radius:4px;
             transform:scale(0);
             transition:0.25s all;
          }
       }
    }
    input[type=text], select {
    width: 80px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    }

    input[type=submit] {
        width: 100%;
        background-color: #4CAF50;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    input[type=submit]:hover {
        background-color: #45a049;
    }

    form > div {
        border-radius: 5px;
        background-color: #f2f2f2;
        padding: 20px;
    }
    textarea {
     resize: vertical;
    }
    /* The switch - the box around the slider */
    .switch {
      position: relative;
      display: inline-block;
      width: 60px;
      height: 34px;
    }

    /* Hide default HTML checkbox */
    .switch input {display:none;}

    /* The slider */
    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #ccc;
      -webkit-transition: .4s;
      transition: .4s;
    }

    .slider:before {
      position: absolute;
      content: "";
      height: 26px;
      width: 26px;
      left: 4px;
      bottom: 4px;
      background-color: white;
      -webkit-transition: .4s;
      transition: .4s;
    }

    input:checked + .slider {
     background-color: #2196F3; 
     /* background-color: #467fcf; */
    }

    input:focus + .slider {
      box-shadow: 0 0 1px #2196F3;
    }

    input:checked + .slider:before {
      -webkit-transform: translateX(26px);
      -ms-transform: translateX(26px);
      transform: translateX(26px);
    }

    /* Rounded sliders */
    .slider.round {
      border-radius: 34px;
    }

    .slider.round:before {
      border-radius: 50%;
    }

  h1 #{action} Outrigger Settings
  form(method='POST', action='/settings/save')
    input(type="submit" value="Save" style="width: 70px;")
    div.config
      div.custom-switches-stacked
        div.fancyToggle
          h3 Enable Outrigger
          label(class="switch" for='masterSwitch' ) 
              if user.outriggerEnabled
                input(type='checkbox' id= 'masterSwitch' checked name='masterSwitch')
              else
                input(type='checkbox' id= 'masterSwitch' name='masterSwitch')
              span(class="slider round")
              label(for='masterSwitch')
        br
        |
        |
        label.custom-switch
          if user.config.responder
            input.custom-switch-input(type='checkbox', name='responderSwitch', id='responderSwitch' checked)
          else
            input.custom-switch-input(type='checkbox', name='responderSwitch', id='responderSwitch')
          span.custom-switch-indicator
          span.custom-switch-description Enable Auto-Replies
        label.custom-switch
          if user.config.periscope
            input.custom-switch-input(type='checkbox', name='periscopeSwitch', id='periscopeSwitch' checked)
          else
            input.custom-switch-input(type='checkbox', name='periscopeSwitch', id='periscopeSwitch')
          span.custom-switch-indicator
          span.custom-switch-description Enable Periscope Mode
        label.custom-switch
          if user.config.whitelistToggle
            input.custom-switch-input(type='checkbox', name='vipSwitch', id='vipSwitch' checked)
          else
            input.custom-switch-input(type='checkbox', name='vipSwitch', id='vipSwitch')
          span.custom-switch-indicator
          span.custom-switch-description Enable VIP Whitelist
        label.custom-switch
          if user.config.blacklistToggle
            input.custom-switch-input(type='checkbox', name='blackSwitch', id='blackSwitch' checked)
          else
            input.custom-switch-input(type='checkbox', name='blackSwitch', id='blackSwitch')
          span.custom-switch-indicator
          span.custom-switch-description Enable Blacklist
        label.custom-switch
          if user.config.keywords
            input.custom-switch-input(type='checkbox', name='keySwitch', id='keySwitch' checked)
          else
            input.custom-switch-input(type='checkbox', name='keySwitch', id='keySwitch')
          span.custom-switch-indicator
          span.custom-switch-description Enable Keywords & Phrases
        br
        |
        |
      h3 Auto-Reply Settings
      .custom-controls-stacked
        label.custom-control.custom-checkbox
          if user.restrictContacts
            input.custom-control-input(type='checkbox' id= 'contactSwitch' checked name='contactSwitch')
          else
            input.custom-control-input(type='checkbox' id= 'contactSwitch' name='contactSwitch')
          span.custom-control-label Only reply to email addresses saved in my Google Contacts
        label.custom-control.custom-checkbox
          if user.importantOnly
            input.custom-control-input(type='checkbox' id= 'importanceSwitch' checked name='importanceSwitch')
          else
            input.custom-control-input(type='checkbox' id= 'importanceSwitch' name='importanceSwitch')
          span.custom-control-label Only reply to emails Gmail marks as "Important"
        label.custom-control.custom-checkbox
          if user.delayEnabled
            input.custom-control-input(type='checkbox' id= 'delaySwitch' checked name='delaySwitch')
          else
           input.custom-control-input(type='checkbox' id= 'delaySwitch' name='delaySwitch')
          span.custom-control-label Only reply to a new email from the same sender after X hours
        input.form-control(type='text' id= 'delaytime' name='delaytime' placeholder='4' value='' + user.delaytime)
        label.custom-control.custom-checkbox
          if user.ignoreCC
            input.custom-control-input(type='checkbox' id= 'ignoreCCSwitch' checked name='ignoreCCSwitch')
          else
            input.custom-control-input(type='checkbox' id= 'ignoreCCSwitch' name='ignoreCCSwitch')
          span.custom-control-label Ignore emails I'm CC'd on
        label.custom-control.custom-checkbox
          if user.ignoreBCC
            input.custom-control-input(type='checkbox' id= 'ignoreBCCSwitch' checked name='ignoreBCCSwitch')
          else
            input.custom-control-input(type='checkbox' id= 'ignoreBCCSwitch' name='ignoreBCCSwitch')
          span.custom-control-label Ignore emails I'm BCC'd on
        label.custom-control.custom-checkbox
           if user.ignoreMailingLists
             input.custom-control-input(type='checkbox' id= 'ignoreMailingListsSwitch' checked
             name='ignoreMailingListsSwitch')
           else
             input.custom-control-input(type='checkbox' id= 'ignoreMailingListsSwitch'
             name='ignoreMailingListsSwitch')
           span.custom-control-label Ignore emails sent through mailing lists (i.e. Google Groups, G Suite Groups, and many subscriptions)
      br
      |
      div.blacklist
        h3 Blacklist
        label(for='blacklist') A comma separated list of domains/email addresses to never send auto-replies to
        if user.config.blacklist
          textarea.form-control(rows="3" cols="15" id='blacklist'
          placeholder="name@domain.org, scammer@scam.com, cambridgeanalytica.com" name='blacklist') #{user.config.blacklist}
        else
          textarea.form-control(rows="3" cols="15" id='blacklist'
          placeholder="name@domain.org, scammer@scam.com, cambridgeanalytica.com" name='blacklist')
      br
      |
      div.message
           div.messageSettings
             h3 <i class="fa fa-envelope aria-hidden="true""></i> Out of Office message

             label(for='prefix') Subject prefix
             if user.responseMessage
               input.form-control(type='text' id='prefix' placeholder='Auto-Reply:' name='prefix' style='width: 100%' value='' + user.responseMessage.prefix)
               label(for='message1') First half of response (before notification button)
               textarea.form-control(rows="6" cols="15" id='message1' placeholder='Thank you for the message.\n\nI am currently away from email.\n\nIf your message is urgent, to notify me, please click here:' name='message1' ) #{user.responseMessage.message1}
               br
               |
               |


               table(border='0', align='center', cellpadding='0', cellspacing='0', style='margin:0 auto;')
                 tbody
                  tr
                    td(align='center')
                      table(border='0', cellpadding='0', cellspacing='0', style='margin:0 auto;')
                        tr
                         td(align='center', bgcolor='#87be45', width='150', style='-moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;')
                            a.button_link(style='padding: 10px;width:150px;display: block;text-decoration: none;border:0;text-align: center;font-weight: bold;font-size: 15px;font-family: sans-serif;color: #ffffff;background: #212F3D;border: 1px solid #566573;-moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;line-height:17px;')  Click to Notify!
               table(border='0', cellpadding='0', cellspacing='0')
                 tr
                   td(height='20', width='100%', style='font-size: 20px; line-height: 20px;')   


               script.
                 document.getElementById("notify").disabled = true;
               br
               |
               |

               label(for='message2') Second half of response (after notification button)
               textarea.form-control(rows="6" cols="15" id='message2' placeholder="Thank you,\n\n" + profile.name name='message2') #{user.responseMessage.message2}
             else
               input.form-control(type='text' id='prefix' placeholder='Auto-Reply:' name='prefix' style='width: 100%')
               label(for='message1') First half of response (before notification button)
               textarea.form-control(rows="6" cols="30" id='message1' placeholder='Thank you for the email.\nI am currently away from my screens.\nIf your message is urgent and you\'d like to notify me, please click here:' name='message1' )
               br
               |
               |

               button(id='notify' onclick="null" type=button style=".btn-3d { position: relative; display: inline-block; font-size: 22px; padding: 20px 60px; color: white; margin: 20px 10px 10px; border-radius: 6px; text-align: center; transition: top .01s linear; text-shadow: 0 1px 0 rgba(0,0,0,0.15); background-color: #e74c3c; box-shadow: 0 0 0 1px #c63702 inset, 0 0 0 2px rgba(255,255,255,0.15) inset, 0 8px 0 0 #C24032, 0 8px 0 1px rgba(0,0,0,0.4), 0 8px 8px 1px rgba(0,0,0,0.5); } .btn-3d:hover { background-color: #e74c3c; }" ) Click here to notify
               script.
                 document.getElementById("notify").disabled = true;
               br
               |
               |

               label(for='message2') Second half of response (after notification button)
               textarea.form-control(rows="6" cols="30" id='message2' placeholder="Thank you,\n\n" + profile.name name='message2')
      br
      |
      div.periscope
        h3 <i class="fa fa-binoculars" aria-hidden="true"></i> Periscope Mode
        label() For X minutes after I send an email, when someone responds, notify me instead of auto-replying
        br
        |
        input.form-control(type='text' id= 'periscopeTime' name='periscopeTime' placeholder='15' value='' + user.config.periscopeTime)
          //-span(class="slider round")
      div.keywords
        h3 Keywords & Phrases
        label(for='Keyphrases') A comma separated list of words to always notify you about
        if user.config.Keyphrases
          textarea.form-control(rows="3" cols="15" id='Keyphrases'
          placeholder="today, asap, now, soon, tomorrow"
          name='Keyphrases') #{user.config.Keyphrases}
        else
          textarea.form-control(rows="3" cols="15" id='Keyphrases'
          placeholder="today, asap, now, soon, tomorrow"
          name='Keyphrases')
        br
        |
      div.whitelist
        h3 VIP Whitelist
        label(for='whitelist') A comma separated list of domains/email addresses to always notify you about
        if user.config.whitelist
          textarea.form-control(rows="3" cols="15" id='whitelist'
          placeholder="test@outriggerapp.com, boss@work.com, work.com, school.edu"
          name='whitelist') #{user.config.whitelist}
        else
          textarea.form-control(rows="3" cols="15" id='whitelist'
          placeholder="test@outriggerapp.com, boss@work.com, work.com, school.edu"
          name='whitelist')
        br
        |
      div.notifyoptions
        h3 <i class="fa fa-bell" aria-hidden="true"></i> Notification Settings
        label.control-label.requiredField(for='notifyop') Notification type
          //-if user.notifyop
          select.select.form-control.input-lg(id='notifyop', name='notifyop', selected='' +  user.notifyop)
            if user.tgact
              option(selected='selected', value='Telegram') Telegram
              option(value='SMS') SMS
            if user.smsact
              option(value='Telegram') Telegram
              option(selected='selected',value='SMS') SMS
              //-option(value='slack') Slack
          //-else
            select.select.form-control.input-lg(id='notifyop', name='notifyop')
              option(value='SMS') SMS
              //-option(value='slack') Slack
              option(value='Telegram') Telegram

          .options
            //-if (user.notifyop == 'Telegram')
            if user.tgact
              div(class='opt Telegram')
                  if !user.notify.telegram.active
                    p To authorize Telegram:
                    br
                    table(border='0', align='center', cellpadding='0', cellspacing='0', style='margin:0 auto;')
                      tbody
                       tr
                         td(align='center')
                           table(border='0', cellpadding='0', cellspacing='0', style='margin:0 auto;')
                             tr
                              td(align='center', bgcolor='#87be45', width='150', style='-moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;')
                                 a.button_link(target="_blank" href='https://telegram.me/OutriggerBot?start=' + user.id style='padding: 10px;width:150px;display: block;text-decoration: none;border:0;text-align: center;font-weight: bold;font-size: 15px;font-family: sans-serif;color: #ffffff;background: #212F3D;border: 1px solid #566573;-moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;line-height:17px;') Login to Telegram!
                    table(border='0', cellpadding='0', cellspacing='0')
                      tr
                        td(height='20', width='100%', style='font-size: 20px; line-height: 20px;')   
                    br
                    b OR
                    p send the following to @OutriggerBot
                    b /start #{user.id}
                  else
                    b ✔ Telegram has been activated!
              //-elif (user.notifyop == "SMS")
            if user.smsact
              div(class='opt SMS')
                  label(for='phonenumber') Phone number
                  if !user.notify.sms.phoneNumber
                   input.form-control(type='text' id='phonenumber' placeholder='+1206253483'
                   name='phonenumber' value='' style='width: 100%;')
                  else
                   input.form-control(type='text' id='phonenumber' placeholder='+1206253483'
                   name='phonenumber' style='width: 100%;' value='' + user.notify.sms.phoneNumber)


                  //- Select service provider
                  // label(for='selectpicker') Carrier
                  // select.selectpicker(datastyle='btn-info', name='selectpicker')
                  //   optgroup
                  //     option(name='alltel', value='0') Alltel
                  //     option(name='att', value='1') AT&T
                  //     option(name='boostmobile', value='2') Boost Mobile
                  //     option(name='cricket', value='3') Cricket Wireless
                  //     option(name='fi', value='4') Project Fi
                  //     option(name='sprint', value='5') Sprint
                  //     option(name='tmobile', value='6') T-Mobile
                  //     option(name='uscellular', value='7') U.S. Cellular
                  //     option(name='verizon', value='8') Verizon
                  //     option(name='virgin', value='9') Virgin Mobile
                  //     option(name='Republic', value='10') Republic Wireless



        script.
          $(function() {
            $('#notifyop').change(function(){
              $('.opt').hide();
              $('.' + $(this).val()).show();
            });
          });
          //-$(document).on('change', '.notifyop', function() {
            //-var target = $(this).data('target');
            //-var show = $("option:selected", this).data('show');
            //-$(target).children().addClass('hide');
            //-$(show).removeClass('hide');
          //-});
          //-$(document).ready(function(){
              //-$('.notifyop').trigger('change');
          //-});
      br
      |
      |



    input(type="submit" value="Save")
