//- Copyright 2017, Google, Inc.
 Licensed under the Apache License, Version 2.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.

extends ../base.pug

block content
  h3 Contact
    small

  .btn-group
    a(href=`/contacts/${contact.id}/edit`, class='btn btn-primary btn-sm')
      i.glyphicon.glyphicon-edit
      span  Edit contact
    a(href=`/contacts/${contact.id}/delete`, class='btn btn-danger btn-sm')
      i.glyphicon.glyphicon-trash
      span  Delete contact

  .media
    .media-left
      img(src=contact.imageUrl || "http://placekitten.com/g/128/192")
    .media-body
      h4= contact.title
        | &nbsp;
        small= contact.publishedDate
      h5 By #{contact.author||'unknown'}
      p= contact.description
      small Added by #{contact.createdBy}
