
// Base.pug
// Simple homepage for Outrigger


doctype html
html(lang="en")
  head
    title Outrigger 
    meta(charset='utf-8')
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel='apple-touch-icon', sizes='180x180', href='/apple-touch-icon.png')
    link(rel='icon', type='image/png', sizes='32x32', href='/favicon-32x32.png')
    link(rel='icon', type='image/png', sizes='16x16', href='/favicon-16x16.png')
    link(rel='manifest', href='/site.webmanifest')
    link(rel='mask-icon', href='/safari-pinned-tab.svg', color='#680378')
    link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css"
    integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg"
    crossorigin="anonymous")
    meta(name='msapplication-TileColor', content='#680378')
    meta(name='theme-color', content='#ffffff')




    link(rel="stylesheet", href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css")
    //- Google analyitics
    script(async='true' src="https://www.googletagmanager.com/gtag/js?id=UA-115492335-1")
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-115492335-1');

    
    //-link(rel="stylesheet", href="/public/css/toggle.css")
  body
    style.
      //-html, body{
         //-padding:0px;
         //-margin:0px;
         //-//-background:#222;
         //-font-family: 'Ubuntu', sans-serif;
         //-color:#FFF;
         //-overflow:den;
         //-height:100%;
      //-}
      .hide {
        display: none;
      }

      h4{ text-align:center; }
      a{ color:grey; }

      //-.container{
         //-max-th:145px;
         //-min-height:175px;
         //-margin:20px auto;
         //-background:#CCC;
         //-color:#000;
         //-position:relative;
         //-padding:20px;
         //-border-radius:4px;
         //-animation: flyin 3s;
      //-}

      .fancyToggle{
         display:inline-block;
         th:100%;
         vertical-align:top;

         *{ vertical-align:top; user-select:none; }
         label { padding-right:10px; }

      }
      .toggle{
        position:relative;
        display:inline-block;
        th:75px;
        height:40px;

        input{ display:none; }
        input:checked + label:after{
           transform:translateX(40px);
           background:#465;
        }

        label{
           z-index:100;
           position:relative;

           &:before{
              position:absolute;
              content: ' ';
              top:0px;
              left:0px;
              th:75px;
              height:20px;
              border-radius:2px;
              background:#222;
           }

           &:after{
              position:absolute;
              content: ' ';
              background:#777;
              th:25px;
              height:30px;
              z-index:1;
              top:-5px;
              left:5px;
              transition:all 0.5s;
              border-radius:4px;
           }
        }
     }

      .fancyRadio{
         display:inline-block;
         th:100%;
         height: 40px;
         vertical-align:top;
         *{ vertical-align:top; user-select:none; }


         .toggle{
            position:relative;
            display:inline-block;
            background:#222;
            th:75px;
            height:30px;
            border-radius:4px;
            margin-left:10px;
            top:-5px;
            input{ display:none; }
            input:checked + label{
               color: #FFF;
               &:after{
                  background: #465;
                  transform:scale(1);
               }
            }

            label{
               z-index:100;
               position:relative;
               th:36.5px;
               height:25px;
               display:inline-block;
               float:left;
               font-size:10px;
               line-height:30px;
               color:#BBB;
               text-align:center;
               &:after{
                  position:absolute;
                  content: ' ';
                  top:5px;
                  left:0px;
                  th:29px;
                  height:20px;
                  border-radius:4px;
                  transform:scale(0);
                  transition:all 0.5s;
                  z-index:-1;
                  box-sizing:border-box;
                  margin-left:5px;
               }
            }
         }
      }

      .fancyCheckBox{
         display:inline-block;
         th: 100%;
         vertical-align:top;
         *{ vertical-align:top; user-select:none; }

         input{ display:none; }
         input:checked + label:after{
            transform:translateX(40px);
            background:#465;
            transform:scale(1);
         }

         .checkbox { display:inline-block; margin-left:10px;}
         .checkbox label{

            position:relative;
            display:inline-block;
            background:#222;
            th:30px;
            height:30px;
            border-radius:4px;
            top:-5px;
            z-index:100;
            margin:0px 5px;
            &:after{
               content: ' ';
               position:absolute;
               th:20px;
               height:20px;
               background:#465;
               z-index:1000;
               top:5px;
               left:5px;
               border-radius:4px;
               transform:scale(0);
               transition:0.25s all;
            }
         }
      }
      input[type=text], select {
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
      }

      input[type=submit] {
          width: 100%;
          background-color: #4CAF50;
          color: white;
          padding: 14px 20px;
          margin: 8px 0;
          border: none;
          border-radius: 4px;
          cursor: pointer;
      }

      input[type=submit]:hover {
          background-color: #45a049;
      }

      form > div {
          border-radius: 5px;
          background-color: #f2f2f2;
          padding: 20px;
      }
      textarea {
       resize: vertical;
      }
      /* The switch - the box around the slider */
      .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;
      }

      /* Hide default HTML checkbox */
      .switch input {display:none;}

      /* The slider */
      .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
      }

      .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
      }

      input:checked + .slider {
        background-color: #2196F3;
      }

      input:focus + .slider {
        box-shadow: 0 0 1px #2196F3;
      }

      .navbar: {
        font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
        word-wrap: break-word;
      }

      input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
      }

      /* Rounded sliders */
      .slider.round {
        border-radius: 34px;
      }

      .slider.round:before {
        border-radius: 50%;
      }
    .navbar.navbar-default
      .container
        .navbar-header
          .navbar-brand 
            b Outrigger
          .navbar-brand Inbox life balance.


        p.navbar-text.navbar-right
          if profile
            a(href="/settings" style="padding-right: 10px;") ⚙ Settings
            if profile.image
              img.img-circle(src=profile.image, width=24)
            span   #{profile.name} &nbsp;
              a(href=logout) (logout)
              //-li
                //-a(href="/contacts") Contacts
              //-li
                //-a(href="/calendar") Calendar
          else
            a(href=login) (Received an invitation?) Login

    .container
      if messages.error
        .alert.alert-danger
          div= messages.error
      if messages.info
        .alert.alert-info
          div= messages.info
      if messages.success
        .alert.alert-success
          div= messages.success
      block content
