extends ./base.pug

block content
  style.

      *::after, *::before {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
    }

    html * {
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }

    html {
      font-size: 62.5%;
    }

    body {
      font-size: 1.6rem;
      font-family: "Source Sans Pro", sans-serif;
      color: #aebcb9;
      background-color: #0d0d0d;
    }

    a {
      text-decoration: none;
    }

    h1 {
      font-size: 6.4rem;
    }

    .cd-title {
      position: relative;
      height: 160px;
      line-height: 230px;
      text-align: center;
    }
    .cd-title h1 {
      font-size: 2.4rem;
      font-weight: 700;
    }
    @media only screen and (min-width: 768px) {
      .cd-title {
        line-height: 250px;
      }
    }
    @media only screen and (min-width: 1170px) {
      .cd-title {
        height: 200px;
        line-height: 300px;
      }
      .cd-title h1 {
        font-size: 3rem;
      }
    }

    .cd-intro {
      width: 90%;
      max-width: 768px;
      //-text-align: center;
    }

    .cd-intro {
      margin: 4em auto;
    }
    @media only screen and (min-width: 768px) {
      .cd-intro {
        margin: 5em auto;
      }
    }
    @media only screen and (min-width: 1170px) {
      .cd-intro {
        margin: 6em auto;
      }
    }

    .cd-headline {
      font-size: 3rem;
      line-height: 1.2;
    }
    @media only screen and (min-width: 768px) {
      .cd-headline {
        font-size: 4.4rem;
        font-weight: 300;
      }
    }
    @media only screen and (min-width: 1170px) {
      .cd-headline {
        font-size: 6rem;
      }
    }

    .cd-words-wrapper {
      display: inline-block;
      position: relative;
      text-align: left;
    }
    .cd-words-wrapper b {
      display: inline-block;
      position: absolute;
      white-space: nowrap;
      left: 0;
      top: 0;
    }
    .cd-words-wrapper b.is-visible {
      position: relative;
    }
    .no-js .cd-words-wrapper b {
      opacity: 0;
    }
    .no-js .cd-words-wrapper b.is-visible {
      opacity: 1;
    }

    /* -------------------------------- 

    xtype 

    -------------------------------- */
    .cd-headline.type .cd-words-wrapper {
      vertical-align: top;
      overflow: hidden;
    }
    .cd-headline.type .cd-words-wrapper::after {
      /* vertical bar */
      content: '';
      position: absolute;
      right: 0;
      top: 50%;
      bottom: auto;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%);
      height: 90%;
      width: 1px;
      background-color: #aebcb9;
    }
    .cd-headline.type .cd-words-wrapper.waiting::after {
      -webkit-animation: cd-pulse 0.5s infinite;
      -moz-animation: cd-pulse 0.5s infinite;
      animation: cd-pulse 0.5s infinite;
    }
    .cd-headline.type .cd-words-wrapper.selected {
      background-color: #aebcb9;
    }
    .cd-headline.type .cd-words-wrapper.selected::after {
      visibility: hidden;
    }
    .cd-headline.type .cd-words-wrapper.selected b {
      color: #0d0d0d;
    }
    .cd-headline.type b {
      visibility: hidden;
    }
    #title {
      visibility: visible;
    }
    .cd-headline.type b.is-visible {
      visibility: visible;
    }
    .cd-headline.type i {
      position: absolute;
      visibility: hidden;
    }
    .cd-headline.type i.in {
      position: relative;
      visibility: visible;
    }

    @-webkit-keyframes cd-pulse {
      0% {
        -webkit-transform: translateY(-50%) scale(1);
        opacity: 1;
      }
      40% {
        -webkit-transform: translateY(-50%) scale(0.9);
        opacity: 0;
      }
      100% {
        -webkit-transform: translateY(-50%) scale(0);
        opacity: 0;
      }
    }
    @-moz-keyframes cd-pulse {
      0% {
        -moz-transform: translateY(-50%) scale(1);
        opacity: 1;
      }
      40% {
        -moz-transform: translateY(-50%) scale(0.9);
        opacity: 0;
      }
      100% {
        -moz-transform: translateY(-50%) scale(0);
        opacity: 0;
      }
    }
    @keyframes cd-pulse {
      0% {
        -webkit-transform: translateY(-50%) scale(1);
        -moz-transform: translateY(-50%) scale(1);
        -ms-transform: translateY(-50%) scale(1);
        -o-transform: translateY(-50%) scale(1);
        transform: translateY(-50%) scale(1);
        opacity: 1;
      }
      40% {
        -webkit-transform: translateY(-50%) scale(0.9);
        -moz-transform: translateY(-50%) scale(0.9);
        -ms-transform: translateY(-50%) scale(0.9);
        -o-transform: translateY(-50%) scale(0.9);
        transform: translateY(-50%) scale(0.9);
        opacity: 0;
      }
      100% {
        -webkit-transform: translateY(-50%) scale(0);
        -moz-transform: translateY(-50%) scale(0);
        -ms-transform: translateY(-50%) scale(0);
        -o-transform: translateY(-50%) scale(0);
        transform: translateY(-50%) scale(0);
        opacity: 0;
      }
    }


    /*------- Sign-up form -------------*/
    form, label {
      margin-left: 16.5%;
      }

    @media only screen and (min-width: 260px) {
      form, input, label{
          margin-left: 4.5%;
      }
    }

    @media only screen and (min-width: 768px) {
      form, input, label{
          margin-left: 8.5%;
      }
    }
    @media only screen and (min-width: 1080px) {
      form, input, label{
          margin-left: 8.5%;
          
      }
    }
    @media only screen and (min-width: 1280px) {
      form, input, label{
          margin-left: 16.5%;
          
      }
    }
    input {
      -webkit-appearance: textfield;
      background-color: white;
      -webkit-rtl-ordering: logical;
      -webkit-writing-mode: horizontal-tb;
      cursor: text;
      vertical-align: middle;
      float: left;
      margin: 0rem;
      padding: 0.85rem;
      box-shadow: none;
      border: 1px solid #EEEEEE;
      font-size: 0.8rem;
      transition: background-color 250ms 
    }
    button {
      padding-left: 1.5rem;
      padding-right: 1.5rem;
      cursor: pointer;
      background: #4B0082;
      color: #FFFFFF;
      font-weight: 500;
      font-size: 1.5rem;
      border: 1px solid transparent;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;

    }
    input[type="email"] {
      text-align: start;
      color: #0d0d0d;
      border-bottom-right-radius: 5px;
      border-top-right-radius: 5px;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
      height: 4rem;
      vertical-align: left;
      font-size: 1.5rem;
    }
    button {
      float: left;
      margin: 0rem;
      height: 4rem;
      padding: 0.85rem;
      box-shadow: none;
      border: 0px solid #EEEEEE;
      font-size: 0.8rem;
      line-height: 1rem;
      transition: background-color 250ms 
      }
    span#title {
      font-weight: 400;
    }
    ul {
    list-style-type: none;
    }


  h2 Which setting would you like to change?

  div.prefrences-list
    ul.list
      li
        a(href='/calendar')
          h3  Calendar
      li
        a(href='/notifications')
          h3  Notifications
      li
        a(href='/contacts')
          h3   Contacts
      li
        a(href='/email')
          h3  Email 
      li
        a(href='/email')
          h3  Aliases

    button#sign-up-submit-button(onclick="history.back()") Back







  //section(class="cd-intro") h2(class="cd-headline letters type")
    //    span:b(class='title' style='font-weight: 1500;') Outrigger
    //    br
    //    |
    //    br
    //    |
    //    span Focus on 
    //    span(class="cd-words-wrapper waiting")
    //      b(class="is-visible") work,
    //      b school,
    //      b friends,
    //      b family,
    //      b life,
    //      b work,
    //      b school,
    //      b friends,
    //      b family,
    //      b life,

    //      b liberty,
    //      b the pursuit of happiness,
    //      b coding,
    //      b smiling and dialing,
    //      b A.P. Bio,
    //      b making it rain,
    //      b reviewing term sheets,
    //      b tacos,
    //      b hot yoga,
    //      b your master’s thesis,
    //      b problem solving,
    //      b breathing deeply,
    //      b the weekend,
    //      b brunch,
    //      b the offsite,
    //      b writing a screenplay,
    //      b your hot date,
    //      b being present,
    //      b the school play,
    //      b your zen retreat,
    //      b brainstorming,
    //      b your board meeting,
    //      b avocado toast,
    //      b virtual reality,
    //      b deep work,
    //      b community,
    //      b that crypto whitepaper,
    //      b kiteboarding,
    //      b your priorities,
    //      b happy hour,
    //      b this moment,
    //      b happiness,
    //      b bacon,
    //      b eggs,
    //      b nature,
    //      b tofu,
    //      b community,
    //      //-b preparations for nuclear fallout,
    //      b writing,
    //      b sushi,
    //      b freedom,
    //      //- b fishing,
    //      //-b making memories,
    //      b pizza,
    //      //-b steak,
    //      b coffee,
    //      b conversation,
    //      b your digital detox,
    //      b pets,
    //      b music,
    //      //-b going with the flow,
    //      b staying calm,

    //    br
    //    span  not on your inbox.
    //    br
    //    |
    //    br
    //    |
    //    span Rig up and step out.


    //script(src="/js/jquery-3.3.1.min.js")
    //div.emailform
    //  label(id='sign-up-label')
    //    b(id='sign-up-label-bold') Join our waitlist.
    //    b(id='signed-up-bold' style="display:none;") Thanks for signing up. We'll be in touch.
    //  form#sign-up-form(_lpchecked="1")
    //    input#sign-up-email-input(type="email" name="email" placeholder="Enter your email")
    //    button#sign-up-submit-button(type="submit")
    //      | Sign Up

    //    script.
    //        function clicked(){
    //              document.getElementById('sign-up-label-bold').style.display = 'none';
    //              document.getElementById('signed-up-bold').style.display = 'block';
    //        }
    //              function validateEmail(email) {
    //              var re = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
    //              //-return re.test(email);
    //        }
    //      	var stuff = {
    //          run: function () {
    //            $('button').bind('click', function () {
    //              clicked();
    //              var email = $('#sign-up-form').serializeArray();
    //              stuff.send(email);
    //              }
    //            );
    //          },
    //          error: function (msg) {
    //            console.log(msg);
    //          },
    //          send: function (object) {
    //            //-if (validateEmail(object.value)){
    //            $.ajax({
    //              url: "https://api.mongolab.com/api/1/databases/outriggersignups/collections/emails?apiKey=HjL89FCYD0up6SGlGFnvkJFW3eZF1Fn9",
    //              type: "POST",
    //              data: JSON.stringify( object ),
    //              contentType: "application/json"
    //            }).done(function( msg ) {
    //              console.log(msg);
    //            });
    //              //-}
    //          }
    //        };
    //      $(function() { stuff.run(); });
    //      //-function send  (object) {
    //        //-$.ajax({
    //          //-url: "https://api.mongolab.com/api/1/databases/outriggersignups/collections/emails?apiKey=HjL89FCYD0up6SGlGFnvkJFW3eZF1Fn9",
    //          //-type: "POST",
    //          //-data: JSON.stringify( object ),
    //          //-contentType: "application/json"
    //        //-}).done(function( msg ) {
    //          //-console.log(msg);
    //        //-});
    //      //-}
    //      //-var object = $('sign-up-form').serializeArray();
    //      //-console.log(object);
    //      //-$('sign-up-submit-button').bind('click', send(object));




    //script.
    //  jQuery(document).ready(function($){
    //    //set animation timing
    //    var animationDelay = 2500,
    //      //loading bar effect
    //      barAnimationDelay = 3800,
    //      barWaiting = barAnimationDelay - 3000, //3000 is the duration of the transition on the loading bar - set in the scss/css file
    //      //letters effect
    //      lettersDelay = 50,
    //      //type effect
    //      typeLettersDelay = 100,
    //      selectionDuration = 400,
    //      typeAnimationDelay = selectionDuration + 600,
    //      //clip effect 
    //      revealDuration = 600,
    //      revealAnimationDelay = 1500;
        
    //    initHeadline();
        

    //    function initHeadline() {
    //      //insert <i> element for each letter of a changing word
    //      singleLetters($('.cd-headline.letters').find('b'));
    //      //initialise headline animation
    //      animateHeadline($('.cd-headline'));
    //    }

    //    function singleLetters($words) {
    //      $words.each(function(){
    //        var word = $(this),
    //          letters = word.text().split(''),
    //          selected = word.hasClass('is-visible');
    //        for (i in letters) {
    //          if(word.parents('.rotate-2').length > 0) letters[i] = '<em>' + letters[i] + '</em>';
    //          letters[i] = (selected) ? '<i class="in">' + letters[i] + '</i>': '<i>' + letters[i] + '</i>';
    //        }
    //          var newLetters = letters.join('');
    //          word.html(newLetters).css('opacity', 1);
    //      });
    //    }

    //    function animateHeadline($headlines) {
    //      var duration = animationDelay;
    //      $headlines.each(function(){
    //        var headline = $(this);
            
    //        if(headline.hasClass('loading-bar')) {
    //          duration = barAnimationDelay;
    //          setTimeout(function(){ headline.find('.cd-words-wrapper').addClass('is-loading') }, barWaiting);
    //        } else if (headline.hasClass('clip')){
    //          var spanWrapper = headline.find('.cd-words-wrapper'),
    //            newWidth = spanWrapper.width() + 10
    //          spanWrapper.css('width', newWidth);
    //        } else if (!headline.hasClass('type') ) {
    //          //assign to .cd-words-wrapper the width of its longest word
    //          var words = headline.find('.cd-words-wrapper b'),
    //            width = 0;
    //          words.each(function(){
    //            var wordWidth = $(this).width();
    //              if (wordWidth > width) width = wordWidth;
    //          });
    //          headline.find('.cd-words-wrapper').css('width', width);
    //        };

    //        //trigger animation
    //        setTimeout(function(){ hideWord( headline.find('.is-visible').eq(0) ) }, duration);
    //      });
    //    }

    //    function hideWord($word) {
    //      var nextWord = takeNext($word);
          
    //      if($word.parents('.cd-headline').hasClass('type')) {
    //        var parentSpan = $word.parent('.cd-words-wrapper');
    //        parentSpan.addClass('selected').removeClass('waiting');	
    //        setTimeout(function(){ 
    //          parentSpan.removeClass('selected'); 
    //          $word.removeClass('is-visible').addClass('is-hidden').children('i').removeClass('in').addClass('out');
    //        }, selectionDuration);
    //        setTimeout(function(){ showWord(nextWord, typeLettersDelay) }, typeAnimationDelay);
          
    //      } else if($word.parents('.cd-headline').hasClass('letters')) {
    //        var bool = ($word.children('i').length >= nextWord.children('i').length) ? true : false;
    //        hideLetter($word.find('i').eq(0), $word, bool, lettersDelay);
    //        showLetter(nextWord.find('i').eq(0), nextWord, bool, lettersDelay);

    //      }  else if($word.parents('.cd-headline').hasClass('clip')) {
    //        $word.parents('.cd-words-wrapper').animate({ width : '2px' }, revealDuration, function(){
    //          switchWord($word, nextWord);
    //          showWord(nextWord);
    //        });

    //      } else if ($word.parents('.cd-headline').hasClass('loading-bar')){
    //        $word.parents('.cd-words-wrapper').removeClass('is-loading');
    //        switchWord($word, nextWord);
    //        setTimeout(function(){ hideWord(nextWord) }, barAnimationDelay);
    //        setTimeout(function(){ $word.parents('.cd-words-wrapper').addClass('is-loading') }, barWaiting);

    //      } else {
    //        switchWord($word, nextWord);
    //        setTimeout(function(){ hideWord(nextWord) }, animationDelay);
    //      }
    //    }

    //    function showWord($word, $duration) {
    //      if($word.parents('.cd-headline').hasClass('type')) {
    //        showLetter($word.find('i').eq(0), $word, false, $duration);
    //        $word.addClass('is-visible').removeClass('is-hidden');

    //      }  else if($word.parents('.cd-headline').hasClass('clip')) {
    //        $word.parents('.cd-words-wrapper').animate({ 'width' : $word.width() + 10 }, revealDuration, function(){ 
    //          setTimeout(function(){ hideWord($word) }, revealAnimationDelay); 
    //        });
    //      }
    //    }

    //    function hideLetter($letter, $word, $bool, $duration) {
    //      $letter.removeClass('in').addClass('out');
          
    //      if(!$letter.is(':last-child')) {
    //        setTimeout(function(){ hideLetter($letter.next(), $word, $bool, $duration); }, $duration);  
    //      } else if($bool) { 
    //        setTimeout(function(){ hideWord(takeNext($word)) }, animationDelay);
    //      }

    //      if($letter.is(':last-child') && $('html').hasClass('no-csstransitions')) {
    //        var nextWord = takeNext($word);
    //        switchWord($word, nextWord);
    //      } 
    //    }

    //    function showLetter($letter, $word, $bool, $duration) {
    //      $letter.addClass('in').removeClass('out');
          
    //      if(!$letter.is(':last-child')) { 
    //        setTimeout(function(){ showLetter($letter.next(), $word, $bool, $duration); }, $duration); 
    //      } else { 
    //        if($word.parents('.cd-headline').hasClass('type')) { setTimeout(function(){ $word.parents('.cd-words-wrapper').addClass('waiting'); }, 200);}
    //        if(!$bool) { setTimeout(function(){ hideWord($word) }, animationDelay) }
    //      }
    //    }

    //    function takeNext($word) {
    //      return (!$word.is(':last-child')) ? $word.next() : $word.parent().children().eq(0);
    //    }

    //    function takePrev($word) {
    //      return (!$word.is(':first-child')) ? $word.prev() : $word.parent().children().last();
    //    }

    //    function switchWord($oldWord, $newWord) {
    //      $oldWord.removeClass('is-visible').addClass('is-hidden');
    //      $newWord.removeClass('is-hidden').addClass('is-visible');
    //    }
    //  });
    //// cd-intro

        
