extends ./base.pug

block content
  style.

      *::after, *::before {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
    }

    html * {
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }

    html {
      font-size: 62.5%;
    }

    body {
      font-size: 1.6rem;
      font-family: "Source Sans Pro", sans-serif;
      color: #aebcb9;
      background-color: #0d0d0d;
    }

    a {
      text-decoration: none;
    }

    h1 {
      font-size: 6.4rem;
    }

    .cd-title {
      position: relative;
      height: 160px;
      line-height: 230px;
      text-align: center;
    }
    .cd-title h1 {
      font-size: 2.4rem;
      font-weight: 700;
    }
    @media only screen and (min-width: 768px) {
      .cd-title {
        line-height: 250px;
      }
    }
    @media only screen and (min-width: 1170px) {
      .cd-title {
        height: 200px;
        line-height: 300px;
      }
      .cd-title h1 {
        font-size: 3rem;
      }
    }

    .cd-intro {
      width: 90%;
      max-width: 768px;
      //-text-align: center;
    }

    .cd-intro {
      margin: 4em auto;
    }
    @media only screen and (min-width: 768px) {
      .cd-intro {
        margin: 5em auto;
      }
    }
    @media only screen and (min-width: 1170px) {
      .cd-intro {
        margin: 6em auto;
      }
    }

    .cd-headline {
      font-size: 3rem;
      line-height: 1.2;
    }
    @media only screen and (min-width: 768px) {
      .cd-headline {
        font-size: 4.4rem;
        font-weight: 300;
      }
    }
    @media only screen and (min-width: 1170px) {
      .cd-headline {
        font-size: 6rem;
      }
    }

    .cd-words-wrapper {
      display: inline-block;
      position: relative;
      text-align: left;
    }
    .cd-words-wrapper b {
      display: inline-block;
      position: absolute;
      white-space: nowrap;
      left: 0;
      top: 0;
    }
    .cd-words-wrapper b.is-visible {
      position: relative;
    }
    .no-js .cd-words-wrapper b {
      opacity: 0;
    }
    .no-js .cd-words-wrapper b.is-visible {
      opacity: 1;
    }


    form, label {
      margin-left: 16.5%;
      }
    input {
      -webkit-appearance: textfield;
      background-color: white;
      -webkit-rtl-ordering: logical;
      cursor: text;
    }
    button[type="submit"] {
      padding-left: 1.5rem;
      padding-right: 1.5rem;
      cursor: pointer;
      background: #4B0082;
      color: #FFFFFF;
      font-weight: 500;
      font-size: 1.5rem;
      border: 1px solid transparent;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;

    }
    form input[type="email"] {
      color: #0d0d0d;
      border-right: 1px;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      width: 47.5%;
      height: 4rem;
      vertical-align: left;
    }
    form button {
      float: left;
      margin: 0rem;
      height: 4rem;
      padding: 0.85rem;
      box-shadow: none;
      border: 1px solid #EEEEEE;
      font-size: 0.8rem;
      line-height: 1rem;
      transition: background-color 250ms 
      }




  section(class="cd-intro")
    h1(class="cd-headline letters type")
      span Aw-Snap!
      br
      span It looks like you don't have access yet.


  script(src="/js/jquery-3.3.1.min.js")
  div.emailform
    label(id='sign-up-label')
      b(id='sign-up-label-bold') If you haven't already. Join our waitlist.
      b(id='signed-up-bold' style="display:none;") Thanks for signing up. Well be in touch.
    form#sign-up-form(_lpchecked="1")
      input#sign-up-email-input(type="email" name="email" placeholder="Enter your email")
      button#sign-up-submit-button(type="submit")
        | Sign Up


      script.
          function clicked(){
                document.getElementById('sign-up-label-bold').style.display = 'none';
                //-document.getElementById('sign-up-label-bold').value = 'Thanks for signing up. We\'re still in beta. But when we\'re ready, we\'ll have our people tell your people.'
                document.getElementById('signed-up-bold').style.display = 'block';
          }
                function validateEmail(email) {
                var re = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
                return re.test(email);
          }
        	var stuff = {
            run: function () {
              $('button').bind('click', function () {
                clicked();
                var email = $('#sign-up-form').serializeArray();
                stuff.send(email);
                }
              );
            },
            error: function (msg) {
              console.log(msg);
            },
            send: function (object) {
              if (validateEmail(object.value) && object.value !== ""){
              $.ajax({
                url: "https://api.mongolab.com/api/1/databases/outriggersignups/collections/emails?apiKey=HjL89FCYD0up6SGlGFnvkJFW3eZF1Fn9",
                type: "POST",
                data: JSON.stringify( object ),
                contentType: "application/json"
              }).done(function( msg ) {
                console.log(msg);
              });
                }
            }
          };
        $(function() { stuff.run(); });
  // cd-intro

        
