//- Copyright 2017, Google, Inc.
 Licensed under the Apache License, Version 2.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.

extends ../base.pug

block content
  h3 #{action} contact
  form(method="POST", enctype="multipart/form-data")
    .form-group
      label(for="title") Name
      input.form-control(type="text", name="title", id="title", value=contact.title)
    .form-group
      label(for="publishedDate") Birthday
      input.form-control(type="text", name="publishedDate", id="publishedDate", value=contact.publishedDate)
    .form-group
      label(for="description") Email Address
      input.form-control(type="text", name="description", id="description", value=contact.description)
    .form-group
      label(for="image") Cover Image
      input.form-control(type="file", name="image", id="image")
    .form-group.hidden
      label(for="imageUrl") Cover Image URL
      input.form-control(type="text", name="imageUrl", id="imageUrl", value=contact.imageUrl)
    .form-group.hidden
      label(for="createdBy") Created by
      input.form-control(type="text", name="createdBy", id="createdBy", value=contact.createdBy)
    .form-group.hidden
      label(for="createdById") Created by ID
      input.form-control(type="text", name="createdById", id="createdById", value=contact.createdById)
    button.btn.btn-success(type="submit") Save
