//- Copyright 2017, Google, Inc.
 Licensed under the Apache License, Version 2.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.

extends ../base.pug

block content
  h3 Contacts

  a(href="/contacts/add", class='btn btn-success btn-sm')
    i.glyphicon.glyphicon-plus
    span  Add contacts

  each contact in contacts
    .media
      a(href=`/contacts/${contact.id}`)
        .media-left
            img(src=contact.imageUrl || "http://placekitten.com/g/128/192")
        .media-body
          h4= contact.name
          p= contact.email

  if !contacts.length
    p No contacts found.

  if nextPageToken
    nav
      ul.pager
        li
          a(href=`?pageToken=${encodeURIComponent(nextPageToken)}`) More
